@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TechReviews</h1>
    <p class="lead">Your trusted tech review site.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Newest reviews!</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non lectus non nulla porttitor eleifend. Curabitur consectetur nisl in neque luctus, vitae finibus urna malesuada. Aliquam gravida feugiat lectus ac lobortis. Quisque viverra orci in tortor posuere, sit amet sollicitudin ante commodo. Vivamus arcu mi, interdum non magna vel, efficitur maximus elit. Praesent vel libero sagittis turpis pulvinar bibendum scelerisque vitae ex. Mauris semper tempor felis id malesuada. Sed et vulputate velit. Mauris malesuada aliquet tellus vitae rutrum. Aliquam erat volutpat. Etiam interdum vulputate neque iaculis iaculis. Sed augue justo, pretium vehicula diam ut, blandit ultrices leo. Sed sed congue odio. Etiam tempus felis non odio porta rutrum. Nunc ut velit vel felis iaculis blandit. Sed vestibulum laoreet odio nec tincidunt.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>All the hottest devices</h2>
        <p>
            Nulla ex elit, lobortis a felis ut, suscipit imperdiet lacus. Proin quis nulla dignissim, pharetra massa hendrerit, cursus nulla. Nam euismod mi ut arcu imperdiet scelerisque. Donec tellus felis, aliquet non lorem ac, laoreet sollicitudin tortor. Donec quis suscipit risus, a consequat arcu. Nunc sodales venenatis facilisis. Integer sodales volutpat gravida. Quisque aliquet, est a fermentum consequat, lacus massa bibendum lacus, eget accumsan felis libero at lorem. Sed quis pretium dui, nec commodo leo.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Editor's choice section</h2>
        <p>
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus velit lorem, sollicitudin eu libero sit amet, porttitor posuere arcu. Duis facilisis venenatis dolor vitae pulvinar. Vivamus quis auctor erat. Ut eu ipsum vel urna finibus volutpat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris ornare enim vel velit scelerisque luctus a eget nisi. Proin convallis pharetra ligula, et eleifend orci elementum sed. Mauris varius vel ipsum quis tempus. Aliquam blandit massa eu enim accumsan maximus. Sed vitae tortor fringilla, mattis erat nec, tristique lorem.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>